body{
    background-color: white;
    font-family: 'Lato', sans-serif; ;
    font-size: 18px ;
    font-weight:400 ;
    line-height: 1.2;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}
.header {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.header-logo {
    display: block;
    width: 268px;
    height: 93px;
    }
.main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.search{
    width: 90%;
}
input{
    background-color: transparent !important;
    border: none;
    position: relative;
    left: 22px;
}
input:focus{
    border: none;
}
.input-group {
    height: 69px;
    display: flex; 
    align-items: center;
    width: 100%;
    margin-bottom: 1.5625rem;
    border-radius:5px;
    background-color: #E7E7E7;
}
.form-control {
    flex-grow: 2;
}
.form-label {
    display: flex; 
    justify-content: center; 
    align-items: center;

    height:  22px;
    
}
.form-label svg {
    position: relative;
    right: 22px;
    width: 32px; 
    height: 32px;
}
.search {
    width: 100%;
}
.search-tags {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    padding-bottom: 23px;
}
.search-filters {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
/*css filtre
*/
.combobox {
    position: relative;
    display: flex;
    width: 170px; 
    height: 69px;
    border-radius: 5px;
    transition: width .2s ease-in-out;
    margin-right: 20px;
}
.combobox.combobox-primary, .primary {
    background-color: #3282F7;
}
.combobox.active:not(.expanded) {
    width: 667px;
  }
.combobox.combobox-success, .success{
    background-color: #68D9A4;
}
.combobox.combobox-danger, .danger{
    background-color: #ED6454;
}
.combobox-wrapper {
    position: absolute; 
    top: 0;
    right: 0; 
    left: 0;
    display: flex; 
    flex-direction: column;
    padding: 23px 15px ;
    height: auto;
    color: white;
    border-radius: 5px;
}
.combobox-primary .combobox-wrapper {
    background-color: #3282F7;
  }
  .combobox-danger .combobox-wrapper {
    background-color: #ED6454;
  }
  .combobox-success .combobox-wrapper {
    background-color: #68D9A4;
  }
  .combobox.expanded-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
.combobox-control{
    flex-shrink: 0;
    display: flex; 
    align-items: center;
    width: 100%; 
    height: 32.06px;
}
.combobox-control-label{
    flex-grow: 1;
    font-weight:700;
}
.combobox-control-input{
    flex-grow: 1;
    outline: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
    opacity: 0.9;
    color: white !important;
}

.combobox-control-expand{
    flex-shrink: 0;
    border: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 32px; 
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    transform: rotate(0);
}
.combobox-control-expand svg {
    width: 16px; 
    height: 9.88px;
}
.combobox-results {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    padding-bottom: 0.9375rem;
    margin-right: -0.9375rem;
    max-height: 19.5rem;
    overflow-y: auto;
    gap: 0.625rem;
  }
  .combobox.expanded .combobox-results {
    grid-template-columns: repeat(3, 1fr);
  }
  .combobox-results::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .combobox-results::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }
  .combobox-results::-webkit-scrollbar-track {
    background: transparent;
  }
  .combobox-results::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    border-width: 1px;
    background: #FFFFFF;
  }
  .combobox-primary .combobox-results::-webkit-scrollbar-thumb {
    border: 1px solid #3282F7;
    background: #1570f6;
  }
  .combobox-danger .combobox-results::-webkit-scrollbar-thumb {
    border: 1px solid #ED6454;
    background: #ea4b38;
  }
  .combobox-success .combobox-results::-webkit-scrollbar-thumb {
    border: 1px solid #68D9A4;
    background: #50d395;
  }
  .combobox-results li {
    width: 30%;
    cursor: pointer;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
  }
/*css tag*/
.tag {
    display: flex;
    align-items: center;
    height: 2.3125rem;
    padding: 0 1.25rem;
    gap: 0.8125rem;
    border-radius: 0.3125rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875rem;
    margin-right: 10px;
  }
  .tag-primary {
    background-color: #3282F7;
  }
  .tag-danger {
    background-color: #ED6454;
  }
  .tag-success {
    background-color: #68D9A4;
  }
  .tag-control {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .tag-control svg {
    width: 1rem;
    height: 1rem;
  }
  
/*css Card recipes
*/
.recipes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 380px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color:#E7E7E7
}
.card-picture{
   width: 100%; 
   min-height: 178px;
   border-radius: 5px 5px 0 0;
   background-color: #C7BEBE ;
}
.card-header{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   font-size: 18px;
   margin: 20px 20px 0 20px;
   
 }
 .card-header-title{
    font-weight: 400;
    width: 70%;
 }
 .card-header-time{
    font-weight: 700;
    width: 30%;
    text-align: end;
}
 .card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 12px;
    margin:10px 20px;
    
}
.card-body-ingredients{
    font-weight: 400;
    width: 50%;
   
}
.card-body-recipe{
    font-weight: 400;
    width: 50%;
    margin-left: 5px;
}

/*media*/
@media all and (min-width: 910px) and (max-width: 1170px){
  .card{
    width: 330px;
  }
}
@media all and (min-width: 700px) and (max-width: 910px){
  .card{
    width: 380px;
  }
  .recipes{
    justify-content: space-around;
  }
  .combobox-control-label{
    font-size: 12px;
  }
}
@media all and (min-width: 410px) and  (max-width: 700px){
  .recipes{
    justify-content: center;
  }
  .search-filters{
    flex-wrap: wrap;
   
  }
  .combobox{
    margin-bottom: 20px;
    
  }
  .combobox.active:not(.expanded){
    width: 280px;
  }
  .active{
    z-index: 12;
  }
  .combobox-control-label, .combobox-control-input{
    font-weight: 300;
  }
  
  li{
    font-size: 14px !important;
  }
}
@media all and (max-width: 410px) {
  .form-control{
    font-size: 10px;
  }
  .card{
    width: 330px;
  }
  .recipes{
    justify-content: center;
  }
  .search-filters{
    flex-wrap: wrap;
   
  }
  .combobox{
    margin-bottom: 20px;
    
  }
  
  .combobox.active:not(.expanded){
    width: 280px;
  }
  .active{
    z-index: 12;
  }
  .combobox-control-label, .combobox-control-input{
    font-weight: 100;
  }
  
  li{
    font-size: 14px !important;
  }
}